.spotify {
    background-color: darkblue;
    padding-top : 10px;
    padding-left:5px ;
}
.btn btn-primary{
    padding-bottom: 10px ; !important

}
.button {
    padding-top: 250px;
  }
  .Trending{
      }
